<% @page_title = "Forecasting" %>

<div class="col-md-12 back">
  <%= link_to('Back to Main Menu', {:controller => 'access', :action => 'index'}, :class => "btn btn-default") %>
</div>
<div class="col-md-5">
  <table class="table table-hover">
        <thead>
          <tr>
            <th>Year</th>
            <th>Data</th>
            <!-- <th>Time(t)</th>
            <th>X - Xbar</th>
            <th>t - tbar</th>
            <th>(X - Xbar)(t - tbar)</th>
            <th>(t - tbar)^2</th> -->
          </tr>
        </thead>
        <tbody>
          <% @forecasts.each do |forecast| %>
            <tr>
              <td><%= forecast.year %></td>
              <td><%= forecast.value %></td>
              <!-- <td><%= forecast.time %></td>
              <td><%= forecast.xxbar %></td>
              <td><%= forecast.ttbar %></td>
              <td><%= forecast.xxbar_ttbar %></td>
              <td><%= forecast.ttbar_sq %></td>  -->
              <td><%= link_to("Edit", {:action => 'edit', :id => forecast.id, :project_id => @project.id }, :class=>"btn btn-success") %></td>
  			      <td><%= link_to("Delete", {:action => 'delete', :id => forecast.id, :project_id => @project.id}, :class=>"btn btn-danger") %></td>
            </tr>
          <% end %>
        </tbody>
  </table>
   <div>
      <%= link_to("Add New Data", { :action => 'new', :project_id => @project.id }, :class => "btn btn-primary") %>
    </div>
</div>
    
<div class="col-md-12">
  <h3>Regression Results</h3>
  <p>Your Simple Linear Regression equation: <strong>  m = <%= @b0 %> + ( <%= @b1 %> ) t</strong></p>
</div>
 <div class="col-md-12">
    <p>The regression of this data <i>R Squared</i>:  <strong><%= @r2 %>%</strong> of total variation explained by regression (higher R Squared = better fit) </p>
 </div>

<div class="col-md-5">
  <table class="table table-hover">
    <thead>
     <tr>
      <th>Future Year</th>
      <th>Forecasted Data</th>
     </tr>
    </thead>
    </tbody>
     <tr>
      <% @project.futures.each do |future| %>
      <tr>
        <td><%= future.future_year %></td>
        <td><%= future.time %></td>
        <td><%= number_with_precision(future.forecasted, :precision => 2) %></td>
        <!--<%= future.time %>-->
        <td><%= link_to("Edit", {:controller => 'future', :action => 'edit', :id => future.id, :project_id => @project.id }, :class=>"btn btn-success") %></td>
        <td><%= link_to("Delete", {:controller => 'future', :action => 'delete', :id => future.id, :project_id => @project.id}, :class=>"btn btn-danger") %></td>
      </tr>
      <%end%>
     </tr>
    </tbody>
  </table>
  <div>
   <%= link_to("Add more to forecast", {:controller => 'future', :action => 'new', :project_id => @project.id }, :class => "btn btn-primary")%>
  </div>
</div>




<!-- Chat Area -->
<script>
$(document).ready(function() {
    var chart1 = new Highcharts.Chart({
        chart: {
            renderTo: 'chart-input',
        },
        title: {
            text: 'Data Input'
        },
        xAxis: {
            categories: <%= @total_years.each {|i| i.inspect}  %>,
            title: {
              text: "Time"
                },
               },   
        yAxis: {
            title: {
                text: 'Data'
            }
        },
        series: [{
            name: "Input",
            data: <%= @total_values.each { |i| i.inspect} %>
          }, {
            name: "Regression Line",
            data: <%= @regression.each { |i| i.inspect} %>
        }]
    });
});
</script>

<div class="output-area">
  <h2 class="col-md-10 output-area">Output Chart</h2>
  <div id="chart-input", class="col-md-10"></div>
</div>
