<%= error_messages_for(@project_api) %>

<div class="project-list">
	<%= form_for [@user, @project_api] do |f| %>
		<%= f.label :project_api_name, "Project Name" %>
		<%= f.text_field :project_api_name %><br><br>
		<%= f.submit "save", :class => "btn btn-default btn-lg" %>
	<%end%>
</div>