<%= error_messages_for(@user) %>

<div class="col-md-1 back">
  <%= link_to('Back to Main Menu', access_index_path, :class => "btn btn-default") %>
</div>

<%= form_for @user do |f| %>

  <div class="col-md-12">
    
    <div class="form-group">
      <%= f.label :email %><br>
      <%= f.text_field :email %>
    </div>
    <div class="form-group">
      <%= f.label :password %><br>
      <%= f.password_field :password %>
    </div>
    <div class="form-group">
      <%= f.label :password_confirmation %><br>
      <%= f.password_field :password_confirmation %>
    </div>
    <div>
      <%= f.button :submit, :class => "btn btn-primary" %>
    </div>
  </div>
<%end%>

