<%= error_messages_for(@user) %>

<div class="cus-form">
  <%= form_for @user do |f| %> 
      <div class="cus-link">
        <%= f.label :email %><br>
        <%= f.text_field :email %>
      </div>
      <div class="cus-link">
        <%= f.label :password %><br>
        <%= f.password_field :password %>
      </div>
      <div class="cus-link">
        <%= f.label :password_confirmation %><br>
        <%= f.password_field :password_confirmation %>
      </div>
      <% if session[:user_id] && !@users.blank? %>
        <div>
          <%= f.submit "Save", :class => "btn btn-default btn-lg" %>
        </div>
      <%else%>
        <div>
          <%= f.submit "Sign Up", :class => "btn btn-default btn-lg" %>
        </div>
      <%end%>
  <%end%>
</div><!-- .signin -->

