<% @page_title = "Main Menu" %>

<div class="main-menu">
	<h3>Welcome <strong><%= link_to @user.email, edit_user_path(@user)  %></strong></h3>
	<p>You have <%= pluralize(@projects.size, 'project') %></p>
		<table class="projects-table">
			</tbody>
				<% @projects.each do |project| %>
				  <tr>
				  	<td><%= link_to project.name, user_project_forecasts_path(project.user.id, project) %></td>		
				  </tr>
				<%end%>	
			</tbody>
	    </table>
	    <div id="projects" >
	   		<%= render 'projects/form' %>
	    </div><!-- #projects -->
</div><!-- .main-menu -->

<%= link_to "Create new project", new_user_project_path(:user_id => @user.id) %>


