<% @page_title = "Login" %>

<div class="col-md-12 signin">
<h1>Login</h1>
	<%= form_tag(:action => 'attempt_login', :class => "form-horizontal") do |f| %>
				<div class="form-group">
					<%= label_tag(:profile_name, "Username", :class=>"control-label") %>
					<%= text_field_tag(:profile_name) %>
				</div>
				<div class="form-group">
					<td><%= label_tag(:password) %>
					<td><%= password_field_tag(:password, :class=>"control-label") %>
				</div>
			        <%= submit_tag('Log In', :class => "btn btn-primary") %>
	<%end%>
	<%= link_to 'Sign Up', {:controller => 'user', :action => 'new'}, :class => "btn btn-success" %>
</div>