<%= error_messages_for(@project) %>

<div class="project-list">
	<%= form_for [@user, @project] do |f| %>
		<%= f.label :name, "Project Name" %>
		<%= f.text_field :name %><br><br>
		<%= f.submit "save", :class => "btn btn-default btn-lg" %>
	<%end%>
</div>



