<%= error_messages_for(@project) %>

<div class="col-md-12 back">
  <%= link_to('Back to Main Menu', access_index_path, :class => "btn btn-default") %>
</div>

<div class="col-md-12" >
	<%= form_for [@user, @project] do |f| %>
		<div>
		  <%= f.label :name, "Project Name" %><br>
		  <%= f.text_field :name %>
		</div>
		<br>
		<%= f.button :submit, :class => "btn btn-primary" %>
	 <%end%>
 </div>


