
<div id='filterForm'>
	<%= form_for [@project_api, @forecast_api] do |f| %>
		<div id="country">
			<p>Country <%= f.select(:country, ['United States']) %></p>
		</div>
		<div id="indicator">
			<p>Indicator <%= f.select(:indicator, ['Total final energy consumption (TFEC)']) %></p>
		</div>
		<div id="startDate">
			<p>Start date <%= f.select(:start_date, (1990..2012)) %></p>
		</div>
		<div id="endDate">
			<p>End date <%= f.select(:end_date, (1990..2012)) %></p>
		</div>
		<div id="submit">
			<%= f.submit %>
		</div>
	<%end%>
</div>

<script>

	// $("#startDate, #endDate, #submit").hide();

	// $('#filterForm').change(function(){
	// 	var value = $(this).val();
	// 	$.ajax({
	// 		// url: '<%= forecast_apis_path(:html) %>',
	// 		type: 'GET',
	// 		data: value,
	// 		success: function(data){
	// 			$('#flash').show();
	// 		}
	// 	});
	// });
	
  
</script>

