<%= error_messages_for(@user) %>
<%= flash[:notice] %>

<div>
  <%= f.label :first_name %><br>
  <%= f.text_field :first_name %>
</div>
<div>
  <%= f.label :last_name %><br>
  <%= f.text_field :last_name %>
</div>
<div>
  <%= f.label :profile_name %><br>
  <%= f.text_field :profile_name %>
</div>
<div>
  <%= f.label :email %><br>
  <%= f.text_field :email %>
</div>
<div>
  <%= f.label :password %><br>
  <%= f.password_field :password %>
</div>
<div>
  <%= f.label :password_confirmation %><br>
  <%= f.password_field :password_confirmation %>
</div>
