<%= error_messages_for(@forecast) %>
<div class="forecast-form">
	<%= form_for [@project, @forecast], :remote => true do |f| %> 
	  <%= f.text_field :year %>
	  <%= f.text_field :value %>
	  <%= f.submit "Add", :class => "btn btn-default btn-sm" %>
	<%end%>
</div>
