<% if @forecast.errors.any? -%>
  $('#flash').fadeOut();
  $('#flash').html("<%= escape_javascript(error_messages_for(@forecast)) %>");
  $('#flash').fadeIn();
<% else -%>
  // show the partial form
  $('#crud').fadeOut();
  // insert the new data line at the bottom of the list
  // create new line
  // update the new line with the new data
  // attach the new line to the table
  $('.forecast-table').find('tbody')
   .append($('<tr>')
    .append($('<td><%= @forecast.year %></td>'))
      .append($('<td><%= @forecast.value %></td>'))
      .append($('<td>').append($('#editAction')))
        .append($('<td>').append($('#delete')))       
  );

  // show flash msg of success or failure
  <% if !flash[:notice].blank? %>
    $('#flash').html("<%= escape_javascript(flash[:notice]) %>");
  <%elsif !flash[:error].blank? %>
    $('#flash').html("<%= escape_javascript(flash[:error]) %>");
  <%end%>
  $('#flash').fadeIn();
  $(":input:not(input[type=submit])").val("");

<% end -%>
 

  




       

