// in case of error, stop any posting and show error msg

<% if @forecast.errors.any? -%>
  $('#flash').html("<%= escape_javascript(flash[:notice]) %>").removeClass('success');
  $('#flash').html("<%= escape_javascript(error_messages_for(@forecast)) %>");
  $('#flash').fadeIn();
<% else -%>

  $(":input:not(input[type=submit])").val("");
  // remove the partial form
  $('#crud').fadeOut(100);
  // clear the form 
  $(":input:not(input[type=submit])").val("");
  // insert the new data line at the bottom of the list
  // create new line
  // update the new line with the new data
  // attach the new line to the table

  $('.forecast-table').find('tbody')
   .append($('<tr>')
    .append($('<td><%= @forecast.year %></td>'))
      .append($('<td><%= @forecast.value %></td>'))
      // .append($('<td>').append($('#editAction')))
         .append($('<td>').append($('#delete')))       
  );

  // show flash msg of success
  $('#flash').removeClass('error');
  $('#flash').fadeOut(); // if any previous flash is present
  // attach the new flash content 
  $('#flash').html("<%= escape_javascript(flash[:notice]) %>").addClass('success');
  $('#flash').fadeIn();
  $(function() {
      setTimeout(function(){
          $('#flash').fadeOut();
        }, 3000);
  });

  location.reload();
  
<% end -%>
 

  




       

