<% @page_title = "Forecasting Page" %>

  <script>
  $(document).ready(function() {
      var chart1 = new Highcharts.Chart({
          chart: {
              renderTo: 'chart-input',
          },
          title: {
              text: 'Data Input'
          },
          xAxis: {
              categories: <%= @total_years.each {|i| i.inspect}  %>,
              title: {
                text: "Time"
                  },
                 },   
          yAxis: {
              title: {
                  text: 'Data'
              }
          },
          series: [{
              name: "Input",
              data: <%= @total_values.each { |i| i.inspect} %>
            }, {
              name: "Regression Line",
              data: <%= @regression.each { |i| i.inspect} %>
          }]
      });
  });
  </script>

  <!-- Graph Area -->

<% if @forecasts.size < 2 %> 
<%else%>
<!--   <div class="col-md-12 btn-space">
    <%= link_to "Update Forecast Chart", '#', :id => 'chart', :class => "btn btn-primary" %>
  </div> -->
   <!--  <div id="chart-input" class="col-md-12"></div> -->
<%end%>
 <!-- End of Graph Area -->
 <!-- data input -->
<div id="forecasts" class="hide"><%= render 'forecast' %></div>
<div class="input-area">
  <div class="col-md-6">
    <table class="table table-hover forecast-table">
      <thead>
        <tr>
          <th>Time</th>
          <th>Data</th>
        </tr>
      </thead>
      <tbody>
        <% @forecasts.each do |forecast| %>
          <tr>
            <td><%= best_in_place forecast, :year %></td>
            <td><%= best_in_place forecast, :value %></td>
            <!-- <td><%= link_to "Edit", edit_user_project_forecast_path(:user_id => @current_user.id, :project_id => forecast.project.id, :id => forecast.id), :class => "btn btn-success edit_forecast", :id => "editAction" , :remote => true %></td> -->
            <td><%= link_to "Delete", forecast_path(:project_id => forecast.project.id, :id => forecast.id), method: :delete, data: { confirm: 'Are you sure?'}, :class=>"btn btn-danger delete", :id => "delete", :remote => true %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div id="crud"><%= render 'form' %></div>     
  </div>
</div> <!-- .input-area -->  
<div class="col-md-12">
  <%= link_to "Add New Data", new_user_project_forecast_path(:user_id => @project.user.id, :project_id => @project.id), :class => "btn btn-primary new-data-btn new_forecast", :remote => true %>
</div>
<!-- **** Regression results ****-->  
<!-- <div class="col-md-12 input-area">
  <h3>Regression Results</h3>
  <p>Your Simple Linear Regression equation: <strong>  m = <%= number_with_precision(@b0, :precision => 2) %> + ( <%= @b1 %> ) t</strong></p>
</div>
 <div class="col-md-12 input-area">
    <p>The regression of this data <i>R Squared</i>:  <strong><%= number_with_precision(@r2, :precision => 2) %>%</strong> of total variation explained by regression (higher R Squared = better fit) </p>
 </div> -->

<!-- Forecasted data input  -->  
<div id="futures" class="hide"><%= render 'futures/future' %></div>

<% if @futures.empty? %>
  <div class="col-md-12">
       <%= link_to("Add data you want to forecast!", new_user_project_future_path(:user_id => @project.user.id, :project_id => @project.id), :class => "btn btn-primary")%>
  </div>
<%else%>

<div class="forecasted_area">
  <div class="col-md-4">
      <table class="table table-hover future-table">
        <thead>
         <tr>
          <th>Future Time</th>
          <th>Forecasted Data</th>
         </tr>
        </thead>
        </tbody>
         <tr>
          <% @project.futures.each do |future| %>
          <tr>
            <td><%= best_in_place future, :future_year %></td>
            <!-- <td><%= future.time %></td> -->
            <td><%= number_with_precision(future.forecasted, :precision => 2) %></td>
            <!-- <td><%= link_to "Edit", edit_user_project_future_path(:user_id => @current_user.id, :project_id => future.project.id, :id => future.id), :class=>"btn btn-success", :remote => true, :id => "edit_future" %></td> -->
            <td><%= link_to "Delete", future_path(:project_id => future.project.id, :id => future.id), method: :delete, data: { confirm: 'Are you sure?'}, :class=>"btn btn-danger delete", :remote => true, :id => "delete_future" %></td>
          </tr>
          <%end%>
         </tr>
        </tbody>
      </table>
      <div id="crud_forecasted"><%= render 'futures/form' %></div>
       <%= link_to "Add more to forecast", new_user_project_future_path(:user_id => @project.user.id, :project_id => @project.id), :class => "btn btn-primary", :remote => true, :id => "new_future" %>
    </div>
  </div>
</div> <!-- .forecasted_area --> 
<%end%>
<div class="btn-space">
  <%= link_to 'Delete this project', @project, method: :delete, data: { confirm: 'Are you sure you want to delete the whole project?'}, :class => "btn btn-danger" %>
</div>


