<% @page_title = "Forecasting Page" %>

<!-- Results Area -->

<div id="resultsBox">
  <div id="chart-input">
    <!-- Chart will be shown here.. -->
  </div><!-- #chart-input -->
  <table>
        <thead>
         <tr>
          <th>Future Time</th>
          <th>Forecasted Data</th>
         </tr>
        </thead>
        </tbody>
          <tr>
            <% @project.futures.each do |future| %>
              <td><%= future.future_year %></td>
              <td><%= number_with_precision(future.forecasted, :precision => 2) %></td>  
          </tr>
          <%end%>
         </tr>
        </tbody>
  </table>
      <%= link_to "Hide Results", "#", :id => "hideResults", :class=>"" %>
</div> <!-- #resultsBox -->
<br>
<br>
<br>
<br>

 <!-- End of Results Area -->

<div id="InputBox">
   <!-- data input -->
  <div id="forecasts" class="hide">
    <%= render 'forecast' %>
  </div> <!-- #forecasts -->
      <table class="forecast-table">
        <thead>
          <tr>
            <th>Time</th>
            <th>Data</th>
          </tr>
        </thead>
        <tbody>
          <% @forecasts.each do |forecast| %>
            <tr>
              <td><%= best_in_place forecast, :year %></td>
              <td><%= best_in_place forecast, :value %></td>
              <!-- <td><%= link_to "Edit", edit_user_project_forecast_path(:user_id => @current_user.id, :project_id => forecast.project.id, :id => forecast.id), :class => "btn btn-success edit_forecast", :id => "editAction" , :remote => true %></td> -->
              <td><%= link_to "Delete", forecast_path(:project_id => forecast.project.id, :id => forecast.id), method: :delete, data: { confirm: 'Are you sure?'}, :class => "delete", :id => "delete", :remote => true %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div id="crud">
        <%= render 'form' %>
      </div><!-- #crud -->     
    <%= link_to "Add New Data", new_user_project_forecast_path(:user_id => @project.user.id, :project_id => @project.id), :class => "new_forecast", :remote => true %>
  <!-- **** Regression results ****-->  
  <!-- <div class="col-md-12 input-area">
    <h3>Regression Results</h3>
    <p>Your Simple Linear Regression equation: <strong>  m = <%= number_with_precision(@b0, :precision => 2) %> + ( <%= @b1 %> ) t</strong></p>
  </div>
   <div class="col-md-12 input-area">
      <p>The regression of this data <i>R Squared</i>:  <strong><%= number_with_precision(@r2, :precision => 2) %>%</strong> of total variation explained by regression (higher R Squared = better fit) </p>
   </div> -->

  <!-- Forecasted data input  -->  
  <div id="futures" class="hide">
    <%= render 'futures/future' %>
  </div><!-- #futures -->

  <% if @futures.empty? %>
         <%= link_to("Add data you want to forecast!", new_user_project_future_path(:user_id => @project.user.id, :project_id => @project.id), :class => "")%>
  <%else%>

  <div class="forecasted_area">
        <table class="future-table">
          <thead>
           <tr>
            <th>Future Time</th>
           </tr>
          </thead>
          </tbody>
           <tr>
            <% @project.futures.each do |future| %>
              <td><%= best_in_place future, :future_year %></td>
              <!-- <td><%= future.time %></td> -->
              <!-- <td><%= number_with_precision(future.forecasted, :precision => 2) %></td> -->
              <!-- <td><%= link_to "Edit", edit_user_project_future_path(:user_id => @current_user.id, :project_id => future.project.id, :id => future.id), :class=>"btn btn-success", :remote => true, :id => "edit_future" %></td> -->
              <td><%= link_to "Delete", future_path(:project_id => future.project.id, :id => future.id), method: :delete, data: { confirm: 'Are you sure?'}, :class=>"delete", :remote => true, :id => "delete_future" %></td>
            </tr>
            <%end%>
          </tbody>
        </table>
        <div id="crud_forecasted">
          <%= render 'futures/form' %>
        </div><!-- #crud_forecasted -->
        <%= link_to "Add more to forecast", new_user_project_future_path(:user_id => @project.user.id, :project_id => @project.id), :class => "", :remote => true, :id => "new_future" %>
  </div> <!-- .forecasted_area --> 
  <%end%>

    <%= link_to "Show Results", "#", :id => "results" %>

    <%= link_to 'Delete this project', @project, method: :delete, data: { confirm: 'Are you sure you want to delete the whole project?'} %>
</div><!--  #inputBox -->

    <script>
      $(document).ready(function() {
          var chart1 = new Highcharts.Chart({
              chart: {
                  renderTo: 'chart-input',
              },
              title: {
                  text: 'Results'
              },
              xAxis: {
                  categories: <%= @total_years.each {|i| i.inspect}  %>,
                  title: {
                    text: "Time"
                      },
                     },   
              yAxis: {
                  title: {
                      text: 'Data'
                  }
              },
              series: [{
                  name: "Input",
                  data: <%= @total_values.each { |i| i.inspect} %>
                }, {
                  name: "Regression Line",
                  data: <%= @regression.each { |i| i.inspect} %>
              }]
          });
      });
    </script>
    <script>
      // show/hide the results box
      $('#results').on('click', function(e){
        e.preventDefault();  
        $('#resultsBox').fadeIn();
        $('#InputBox').fadeOut();
      });

      $('#hideResults').on('click', function(e){
        e.preventDefault();
        $('#resultsBox').fadeOut();
        $('#InputBox').fadeIn();
      });
    </script>
    <script>
    // reflect changes after updating data with best_in_place
    $('.best_in_place')
    .best_in_place()
    .bind('ajax:success', function(e) {
        location.reload();
    });
    </script>


