<% @page_title = "Forecasting Page" %>

<div class="col-md-12">
  Project name: <%= link_to @project.name, edit_user_project_path(@project.user.id, @project) %>
</div>

<div id="crud"></div>

<div class="input-area">
  <div class="col-md-4">
    <table class="table table-hover">
          <thead>
            <tr>
              <th>Time</th>
              <th>Data</th>
              <!-- <th>Time(t)</th>
              <th>X - Xbar</th>
              <th>t - tbar</th>
              <th>(X - Xbar)(t - tbar)</th>
              <th>(t - tbar)^2</th> -->
            </tr>
          </thead>
          <tbody>
            <% @forecasts.each do |forecast| %>
              <tr>
                <td id="hide"><%= forecast.year %></td>
                <td><%= forecast.value %></td>
                <!-- <td><%= forecast.time %></td>
                <td><%= forecast.xxbar %></td>
                <td><%= forecast.ttbar %></td>
                <td><%= forecast.xxbar_ttbar %></td>
                <td><%= forecast.ttbar_sq %></td>  -->
                <td><%= link_to "Edit", edit_user_project_forecast_path(:user_id => @current_user.id, :project_id => forecast.project.id, :id => forecast.id), :class=>"btn btn-success", :id => "editAction", :remote => true %></td>
                  <td><%= link_to "Delete", forecast_path(:project_id => forecast.project.id, :id => forecast.id), method: :delete, data: { confirm: 'Are you sure?'}, :class=>"btn btn-danger delete", :remote => true %></td>
              </tr>
            <% end %>
          </tbody>
    </table>
  </div>
</div> <!-- .input-area -->    
    <div class="col-md-12">
      <%= link_to "Add New Data", new_user_project_forecast_path(:user_id => @project.user.id, :project_id => @project.id), :class => "btn btn-primary new-data-btn" %>
  </div>
<!-- **** Regression results ****-->  
<!-- <div class="col-md-12 input-area">
  <h3>Regression Results</h3>
  <p>Your Simple Linear Regression equation: <strong>  m = <%= number_with_precision(@b0, :precision => 2) %> + ( <%= @b1 %> ) t</strong></p>
</div>
 <div class="col-md-12 input-area">
    <p>The regression of this data <i>R Squared</i>:  <strong><%= number_with_precision(@r2, :precision => 2) %>%</strong> of total variation explained by regression (higher R Squared = better fit) </p>
 </div> -->
<!-- **** Forecasted data input **** -->  
<% if @futures.empty? %>
  <div class="col-md-12">
       <%= link_to("Add data you want to forecast!", new_user_project_future_path(:user_id => @project.user.id, :project_id => @project.id), :class => "btn btn-primary")%>
  </div>
<%else%>
<div class="col-md-4">
    <table class="table table-hover">
      <thead>
       <tr>
        <th>Future Time</th>
        <th>Forecasted Data</th>
       </tr>
      </thead>
      </tbody>
       <tr>
        <% @project.futures.each do |future| %>
        <tr>
          <td><%= future.future_year %></td>
          <!-- <td><%= future.time %></td> -->
          <td><%= number_with_precision(future.forecasted, :precision => 2) %></td>
          <td><%= link_to "Edit", edit_user_project_future_path(:user_id => @current_user.id, :project_id => future.project.id, :id => future.id), :class=>"btn btn-success" %></td>
          <td><%= link_to "Delete", future_path(:project_id => future.project.id, :id => future.id), method: :delete, data: { confirm: 'Are you sure?'}, :class=>"btn btn-danger" %></td>
        </tr>
        <%end%>
       </tr>
      </tbody>
    </table>
     <%= link_to("Add more to forecast", new_user_project_future_path(:user_id => @project.user.id, :project_id => @project.id), :class => "btn btn-primary")%>
  </div>
</div>
<%end%>

<% if @forecasts.size < 2 %>
<%else%>
<!-- Chat Area -->
<script>
$(document).ready(function() {
    var chart1 = new Highcharts.Chart({
        chart: {
            renderTo: 'chart-input',
        },
        title: {
            text: 'Data Input'
        },
        xAxis: {
            categories: <%= @total_years.each {|i| i.inspect}  %>,
            title: {
              text: "Time"
                },
               },   
        yAxis: {
            title: {
                text: 'Data'
            }
        },
        series: [{
            name: "Input",
            data: <%= @total_values.each { |i| i.inspect} %>
          }, {
            name: "Regression Line",
            data: <%= @regression.each { |i| i.inspect} %>
        }]
    });
});
</script>

<div class="output-area">
  <h2 class="col-md-10 output-area">Output Chart</h2>
  <div id="chart-input", class="col-md-10"></div>
</div>
<%end%>
<div class="col-md-12 btn-space">
  <%= link_to 'Delete this project', @project, method: :delete, data: { confirm: 'Are you sure you want to delete the whole project?'}, :class => "btn btn-danger" %>
</div>


