<!DOCTYPE html>
<html>
  <head>
    <title>Foretoken&mdash;A Free Data Forecasting Application<%= " | #{@page_title}" if @page_title %></title>
    <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css", media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"> 
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <%= stylesheet_link_tag 'sweet-alert' %>
    <%= javascript_include_tag 'sweet-alert' %>

  </head>
  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="/">
                    <i class="fa fa-play-circle"></i><span class="light">Fore</span>&middot;token<small class="beta-logo">Beta</small>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <% if session[:user_id].blank? %>
                      <li><%= link_to "Login", access_login_path, :class=>'btn-nav'%></li>
                    <%end%>
                    <% if session[:user_id] %>
                      <li><%= link_to "Projects", access_index_path(:user_id => session[:user_id], :class=>'btn-nav page-scroll') %></li>
                      <li><%= link_to "Logout", access_logout_path, :class=>'btn-nav page-scroll' %></li>
                    <%end%>
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <%if current_page? root_path %>
                      <li>
                          <a class="page-scroll" href="#about">About</a>
                      </li>
                      <li>
                          <a class="page-scroll" href="#how-it-works">How It Works</a>
                      </li>
                      <li>
                          <a class="page-scroll" href="#contact">Contact</a>
                      </li>
                    <%else%>
                      <li>
                          <a class="page-scroll" href="/#about">About</a>
                      </li>
                      <li>
                          <a class="page-scroll" href="/#how-it-works">How It Works</a>
                      </li>
                      <li>
                          <a class="page-scroll" href="/#contact">Contact</a>
                      </li>
                    <%end%>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


      <!--<div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a><%= link_to "Foretoken", root_path, :class => "navbar-brand" %></a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><%= link_to "Login", access_login_path unless !session[:user_id].blank? %></li>
              <% if session[:user_id] %>
                <li><%= link_to "Projects", access_index_path(:user_id => session[:user_id]) %></li>
                <li><%= link_to "Logout", access_logout_path %></li>
              <%end%>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to 'Contact', pages_contact_path %></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </div>
  <!-- Main Body -->

    <!--   
      <% if flash[:error] %>
        <div class="alert alert-danger"><%= flash[:error] %></div>
      <%end%>
      <% if flash[:notice] %>
        <div class="alert alert-success"><%= flash[:notice] %></div>
      <%end%> -->
      
        <%= yield %>

    </body>
</html>