<!DOCTYPE html>
<html>
  <head>
    <title>Foretoken<%= " | #{@page_title}" if @page_title %></title>
    <%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js' %>
    <%= stylesheet_link_tag 'reset', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
    <%= javascript_include_tag 'highcharts', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  </head>
  <body>
      <div class="container navbar">
        <nav>
          <div id="logo">
            <%= link_to "Foretoken", access_index_path(:user_id => session[:user_id])%>
          </div><!-- #logo -->
          <ul>
              <li><%= link_to("About", '#', :id => 'username') %></li>
              <% if session[:user_id] %>
              <li><%= link_to "Logout", access_logout_path %></li>
              <%end%>
          </ul>
        </nav>
      </div> <!-- .container -->
    
    
    <!-- Main Body -->
    <div class="container">
        <div id="flash" ></div>
          <%= yield %>
    </div> <!-- .container -->
  </body>
</html>